.custom_dropdown {
	&.show {
		.btn {
			svg {
				transform: scale(-1);
			}
		}

		.dropdown-menu {
			display: block;


		}
	}
}

.dropdown-item {
	&:hover {
		color: theme-color('warning');
		background: none;
	}

	&.active {
		background: theme-color('warning');
		color: $white !important;
	}
}